In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv('gender.csv')
df.shape

(8, 3)

# Find Probablity of Gender Col:-

In [3]:
df['Gender'].value_counts()

M    4
F    4
Name: Gender, dtype: int64

In [4]:
pm = 4/8
pf = 4/8
print(pm)
print(pf)

0.5
0.5

# Find Probablity of Hight Col:-

In [5]:
pd.crosstab(df['Hight'],df['Gender'])

Gender  F  M
Hight
139     1  0
145     1  0
160     1  0
165     0  1
172     1  1
180     0  1
190     0  1

In [6]:
P139HF = 1/4
P145HF = 1/4
P160HF = 1/4
P165HF = 0
P172HF = 1/4
P180HF = 0
P190HF = 0

P139HM = 0
P145HM = 0
P160HM = 0
P165HM = 1/4
P172HM = 1/4
P180HM = 1/4
P190HM = 1/4

# Find Probablity of Weight Col:-

In [7]:
pd.crosstab(df['Weight'],df['Gender'])

Gender  F  M
Weight
100     1  0
120     1  0
140     1  1
150     1  1
170     0  1
200     0  1

In [8]:
P100WF = 1/4
P120WF = 1/4
P140WF = 1/4
P150WF = 1/4
P170WF = 0
P100WF = 0

P100WM = 0
P120WM = 0
P140WM = 1/4
P150WM = 1/4
P170WM = 1/4
P100WM = 1/4